body
{
 	font-family: 'Julius Sans One', sans-serif;
	 text-transform: uppercase;
	 color:#f97427;
	 font-size:120%;




	 
}
#card{
	text-align: center;
	width:70%;
	margin-left: 15%;
	
}